img {
    width: 500px;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(178, 243, 221);
    color: rgb(11, 4, 87);
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
p {
    font-size: 25px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}